.container {
  display: grid;
  grid-template-rows: repeat(4, 300px);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  min-height: 100vh;
  
  /* Align the grid in the container
    center
    start
    end
    space-between
    space-around
    space-evenly
    baseline


  justify-content: space-around;
  align-content: space-around;
  */
  
  /* align items inside all grids
  justify-items: center;
  align-items: center;
  */
  
}

.container div {
  background-color: lightblue;
  padding: 10px;
}

.div-1 {
  /* align in a specific grid 
  justify-self: center;
  align-self: stretch;
  */
}