.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input {
  width: 50%;
}

label {
  width: 10%;
  white-space: nowrap;
}
