/* SELECTORS
HTML elements
  h1 {}
  div {}
  body {}

Class 
  .class1 {}
  .class2 {}

ID Selector
  #my-id {}
  #yours-id {}

Universal Selector
  * {}

Descendant Selector
  div p {}  Targets p inside divs

*/ 


/* Properties
  font-family: 'Hack Nerd Font';
  font-size: 16px;
  font-align: center;
  line-height: 1.5;
  color: red;
  background-color: lightblue;
  background-image: url("cssLogo.png");
  background-size: cover;
  

  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  
  width: 100px;
  height: 200px;
  
  position: relative, static, absolute, fixed, sticky;

*/

:root {
  --primary-color: rgb(109, 210, 243);
  --secondary-color: lightgreen;
}

h1 {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.container {
  display: flex;
}

.div1 {
  flex: 3;
}

.div2 {
  width: 300px;
  text-align: center;
}

.div2 img {
  height: 250px;
}

.button1:hover {
  color: var(--primary-color);
  

}
.button1:active {
  background-color: gray;
  color: white;
}


.link-repo {
  display: inline-block;
  width: auto;
  margin: 10px 0px 10px 0px;
  color: var(--primary-color);

}

.link-repo:hover {
  color: blue; 
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* prevent stretching */
}

.button1 {
  display: inline-block;
  width: auto;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-color:aqua;
  border-width: 2px;
  border-radius: 5%;
}

.text {
  width: 100%;
  font-size: 20px;
}



